#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
.section {
     margin-top: 100px;
     margin-bottom: 100px;
 }
.border-radius-2{
    border-radius: 2px;
}
.w-250 {
    width: 250px;
}
.h-250 {
    height: 250px;
}
.w-500 {
    width: 500px;
}